@font-face {
  font-family: 'Pano Regular';
  src: url('../fonts/Pano-Regular.woff2') format('woff2'),
    url('../fonts/Pano-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  height: 100vh;
  background-color: #000022;
  color: #FFF;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: 'Pano Regular', sans-serif;
  font-size: 1em;
  font-weight: normal;
}
.main {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
a, a:visited {
  color: #FFF;
  text-decoration: none;
}
.header {
  z-index: 1;
  width: 100%;
  min-height: 100px;
}
.logo {
  padding: 1em 0 0 1.5em;
}
.logo h1 {
  font-size: 1.5em;
  line-height: 1em;
  margin: 0;
}
#canvas-wrapper {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}
.footer {
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 100%;
  min-height: 100px;
}
.contact {
  display: flex;
  flex-direction: column;
}
.contact .mail {
    line-height: 2em;
    margin: 0;
    padding: 0 0 0 1.5em;
  }
.contact .ig {
  margin: 0;
  padding: 0 0 1em 1.5em;
}
@media screen and (min-width: 320px) and (max-width: 375px) and (orientation: portrait) {
  .logo h1 {
    font-size: 1.2em;
  }
  .contact .mail, .contact .ig {
    font-size: 0.952em;
  }
}
